<div>
    <h3>{{welcome}}</h3>
    <a href="{{{url}}}">{{linktext}}</a><br />
    <a href="{{{popurl}}}" target="_blank">{{poptext}}</a>
    <br><br>
    {{#students}}
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning">{{{.}}}</li>
    </ul>
    {{/students}}
</div>